{% extends 'common/base.html' %}

{% block content %}
    <h2>Todos los productos</h2>

    <table class="table table-striped" >
        <tr>
            <td>Nombre</td>
            <td>Cantidad</td>
            <td>SKU</td>
            <td>Acciones</td>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.sku}}</td>
                <td>
                    <div class="d-flex justify-content-center gap-4">
                        <a class="btn btn-warning" href="{% url 'inventory:update' product.id %}" >Editar</a>
                        <a class="btn btn-danger" href="{% url 'inventory:delete' product.id %}"  >Eliminar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}